.nav-item {
    width: 100px;
    height: 18px;
    margin-right: 20px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 3px;
    background: #81a1c1;
    &:not(.current):hover {
        background: lighten(#81a1c1, 10%);
    }
    &.current {
        background: #ebcb8b;
    }
}
