.chat {
    position: fixed;
    right: 30px;
    bottom: 0;
    width: 250px;
    height: 30px;
    cursor: pointer;
    transition: height .3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #5e81ac;
    &.expanded {
        height: 250px;
    }
}
