<!doctype html>
<html>
<head>
  <title>Tailor Example Application</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <style>
    body {
      background: #ECEFF4;
    }
  </style>
  <script>
    (function(d) {
      require(d);
      var arr = [ 'react', 'react-dom', 'prop-types', 'classnames', 'proppy', 'proppy-react'];
      while (i = arr.pop())(function(dep) {
        define(dep, d, function(b) {
          return b[dep];
        })
      })(i);
    }(['http://localhost:6006/public/bundle.js']));
  </script>
</head>
<body>
  <div id="header"></div>
  <div id="contacts"></div>
  <div id="chat"></div>
  <fragment src="http://localhost:8081"></fragment>
  <fragment src="http://localhost:5000"></fragment>
  <fragment src="http://localhost:3000"></fragment>
</body>
</html>
