<!doctype html>
<html>
<head>
    <title>Tailor Example Application</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        .service {
            padding: 25px 40px;
            margin: 25px 40px;
            border: 5px solid black
        }

        .service::before {
            content: attr(data-title);
            color: attr(data-color, red);
            display: block;
            font-size: 2em;
            border-bottom: red;
        }

    </style>
</head>
<body>


<div class="service" data-title="service-react">
    <!--<fragment id="service-react"></fragment>-->
    <fragment id="service-react" src="http://localhost:1321"></fragment>
</div>
<div class="service" data-title="service-vue-client">
    <fragment id="service-vue-client"></fragment>
</div>

</body>
</html>
